<%- include(headerPartial) %>

<div class="container mt-4 px-4">
    <div class="col-12 col-md-10 col-lg-8 mx-auto mb-5">
        <% if (typeof title !== 'undefined') { %>
        <%- include('../partials/title', {title}); %>
        <% } %>

        <% if (typeof data !== 'undefined' && typeof data.message.class !== 'undefined') { %>
        <div class="alert <%= data.message.class %> mb-4"><%= data.message.text %></div>
        <% } %>

        <div class="p-4 bg-rgba-dark shadow rounded">
            <form class="my-2" id="create" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Location name</label>
                    <input type="text" name="name" class="form-control shadow-sm" id="name" required="required"
                        autofocus="autofocus" value="<%= data.input.name %>">
                </div>

                <div class="form-group my-5">
                    <label for="image">Upload an image</label>
                    <input type="file" name="image" class="form-control-file mt-1 mb-3" id="image" required="required"
                        aria-describedby="imageHelpBlock">
                    <small id="imageHelpBlock"
                        class="form-text text-monospace">Only .jpg or .png files are permitted.</small>
                </div>

                <div class="form-group mb-4">
                    <label for="description">Description</label>
                    <textarea name="description" id="description" class="form-control w-100 p-2" rows="6"
                        placeholder="Enter location description" required="required"><%= data.input.description %></textarea>
                </div>

                <div class="pt-3 text-center">
                    <button type="submit" class="btn btn-light shadow">Submit Location</button>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include(footerPartial); %>