<%- include(headerPartial) %>

<div class="container-fluid px-5 my-4">
    <div class="row px-sm-3">

        <div class="col-lg-11 mt-3 mb-5 mx-auto p-0">
            <% if (typeof title !== 'undefined') { %>
            <div class="text-center">
                <%- include('../partials/title', {title}); %>
            </div>
            <% } %>
            <div class="col-12 mx-auto px-3 py-4 p-sm-5 clearfix bg-rgba-dark shadow rounded mb-5">
                <div class="mx-auto mb-4 mt-4 mt-sm-1 my-lg-4 ml-lg-5 mr-lg-2 float-lg-right mw-50vw">
                    <img class="img-fluid mh-100vh d-block mx-auto shadow" src="<%= location.imagePath %>"
                        alt="<%= location.name %>">
                </div>
                <div class="px-2 py-3">
                    <p class="font-size-1 mb-0"><%= location.description %></p>
                </div>
            </div>
        </div>


        <% if (loggedIn === true) { %>
        <div class="col-lg-11 mx-auto p-0">
            <div class="col-12 col-md-10 col-lg-8 mb-5 mx-auto text-center font-size-2 text-shadow">
                Would you recommend <%= location.name %>?
                <div id="recommendation">
                    <i class="fa fa-thumbs-up fa-2x m-3 recommend-location like" id="yes" data-id="<%= location._id %>"
                        aria-hidden="true"></i>
                    <i class="fa fa-thumbs-down fa-2x m-3 recommend-location dislike" id="no"
                        data-id="<%= location._id %>" aria-hidden="true"></i>
                </div>
            </div>
        </div>

        <div class="col-lg-11 mx-auto p-0">
            <div class="col-12 col-md-10 col-lg-8 my-5 mx-auto font-size-1 text-shadow">
                <form method="post" class="mb-4">
                    <div class="form-group">
                        <label for="comment">Comment:</label>
                        <textarea id="comment" class="form-control" name="comment" placeholder="Add a comment"
                            required></textarea>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-light mt-3 mb-5 shadow">Add Comment</button>
                    </div>
                </form>
            </div>
        </div>

        <% } %>

        <% if (typeof location.comments !== 'undefined' && location.comments.length) { %>
        <div class="col-lg-11 mx-auto p-0">
            <div class="  "></div>
            <div
                class="col-12 col-md-10 col-lg-8 mt-0 mb-5 mx-auto px-4 py-3 bg-rgba-dark text-light text-shadow font-size-1 rounded shadow">
                <table class="table text-light">
                    <tr>
                        <th class="border-0">Comments</th>
                    </tr>
                    <% location.comments.forEach(comment => { %>
                    <tr>
                        <td>
                            <%= comment.comment %>
                            <div class="text-right"><small><em>&nbsp;- <%= comment.author %></em></small></div>
                        </td>
                    </tr>
                    <% })%>
                </table>
            </div>
        </div>
        <% } %>

    </div>
</div>

<%- include(footerPartial) %>