<%- include(headerPartial); %>

<div class="container-fluid py-4" id="banner">
    <div class="container text-light">
        <h1 class="mb-4 text-shadow">Validate the following locations</h1>
    </div>
</div>

<div class="container-fluid px-4 px-md-5">
    <div class="row">
        <% locations.forEach(location => { %>

        <div class="col-12 col-sm-9 mx-auto col-lg-6 mx-lg-0 my-4 my-sm-5 px-4">
            <div class="h-100 px-4 py-4 shadow-lg rounded text-shadow bg-rgba-dark">
                <img class="d-block mx-auto mb-4 img-fluid shadow rounded loc-card-img" src="<%= location.imagePath %>"
                    alt="<%= location.name %>">

                <div>
                    <h3 class="mt-2 word-break-all"><%= location.name %></h3>
                    <p class="m-0"><%= location.description %></p>
                </div>
                <button class="btn btn-light mt-2 mt-sm-0 flex-grow-1 flex-sm-grow-0 flex-sm-shrink-1 shadow" id="<%= location.id %>" name="true" onclick="validateLocation('<%= location.id %>')"  >Validate</button>
            </div>
        </div>

        <% }); %>

    </div>
</div>
<script>
</script>
<%- include(footerPartial); %></div>